/*
  ========================================
  Custom styles
  ========================================
*/

body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    max-width: 980px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    color: #666;
}

p {
    font-size: 18px;
}

/*
  ========================================
  Head
  ========================================
*/

header .nav {
    font-size: 13px;
    /*float: right;*/
    text-decoration: none;
    padding: 5px;
}

#listSpace {
    background: #ecd203;
    border-radius: 5px;
    color: #fff;
}

header {
    text-align: right;
}

header img {
    float: left;
}

/*
  ========================================
  Search
  ========================================
*/

.destinationSearch {
    background-image: url("../img/Carousel1.png");
    background-size: cover;
    color: #fff;
}

.arrowLeft {
    float: left;
    margin-top: 45px;
    margin-left: 20px;
}

.arrowRight {
    float: right;
    margin-top: 45px;
    margin-right: 20px;
}

/*
  ========================================
  Recommendations
  ========================================
*/

.recommendations {
    background-color: #f3f3f3;
    padding-top: 40px;
    padding-bottom: 40px;
}

.recommendations .col-md-6 {
    padding: 0;
}

.recommendations .col-md-3 {
    padding: 0;
}

.place img  {
    position: relative;

}

.place p {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    color: #fff;

}

.smallPic {
    padding: 5px;
}

#ny p {
    /*position: absolute;*/
    top: 130px;
    /*left: 0;*/
    /*width: 100%;*/

}

/*
  ========================================
  Tutorial
  ========================================
*/
.tutorial p {
    color: #868686;
    margin: 0;
    vertical-align: middle;
}

.tutorial h3 {
    margin: 0;
    vertical-align: middle;
}

.tutorial {
    padding-top: 20px;
    padding-bottom: 40px;
}

.tutorial .col-md-12 {
    padding-bottom: 20px;
}

/*.tut {*/
    /*width: 80%;*/
    /*margin-left: 135px;*/
    /*margin-top: 20px;*/
/*}*/

.tut img{
    float: left;
}

.tut h3,
.tut p {
    padding-top: 5px;
    text-align: left;
}

/*
  ========================================
  Testimonials
  ========================================
*/

.testimonials {
    background-color: #f3f3f3;
    padding-top: 40px;
    padding-bottom: 20px;
}

.testimonials p {
    font-size: 17px;
    color: #67696A;
}

/*
  ========================================
  Foot
  ========================================
*/

.foot {
    font-size: 16px;
    color: #979797;
    padding-top: 10px;
}