<div class="login">
    <h1>Login</h1>
</div>

<div class="well">
    <div class="loginDetails">
        <form role="form">
            <div class="form-group">
                <label for="input-email">Email</label>
                <input type="email" class="form-control" id="input-email" placeholder="Your email address">
            </div>
            <div class="form-group">
                <label for="input-password">Password</label>
                <input type="email" class="form-control" id="input-password" placeholder="Your password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <p><small>Don't have an account? <a href="/register">Signup</a></small></p>
        </form>
    </div>
</div>